<form method="POST" id="frm-buscar-capacitador">
    <div class="card text-white " style="max-width: 48rem;">
        <div class="car-header" style="background-color: #30475e;">
            BUSQUEDA CAPACITADOR

            <button type="button" id="btn-close-buscar-capacitador" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card-body">
            <table id="tbl-buscar-capacitador" class="card text-white  mb-3 table-bordered table-hover"  style="background-color: #30475e;">
               <caption>capacitador</caption>
                <thead>
                    <tr>
                        <th id=cols colspan="5">
                            <input type="text" v-model="valor"v-on:keyup="buscarCapacitador" placeholder="nombre o direccion" class="form-control">
                        </th>
                    </tr>
                    <tr>
                      
                        <th id=1>NOMBRE</th>
                        <th id=2>APELLIDO</th>
                        <th id=3>DIRECCION</th>
                        <th id=4>CORREO</th>
                        <th id=5>GENERO</th>
                        
                        <th id=6> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="capacitador in miscapacitador" :key="capacitador.idCapacitador" v-on:click="modificarCapacitador(capacitador)">
                        <td>{{ capacitador.nombre }}</td>
                        <td>{{ capacitador.apellido }}</td>
                        <td>{{ capacitador.direccion }}</td>
                        <td>{{ capacitador.correo }}</td>
                        <td>{{ capacitador.genero }}</td>
                        <td>
                            <input v-on:click="eliminarCapacitador(capacitador.idCapacitador)" type="button" class="btn btn-danger text-white" value="del">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>
<script src="public/vistas/Capacitador/buscar-capacitador.js"></script>